<div class="ui segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="column">
        <div class="ui segment">
            <p>Level: 1</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        {{audio-player title=episode.title url=episode.url}}
      </div>
    </div>
    <div class="row">
      <div class="column">


          {{#if parent}}
            {{#link-to 'episode' parent class="ui large left floated primary button"}}
            <i class="ui icon backward"></i>
            Back
            {{/link-to}}
          {{/if}}

          {{#if next}}
            {{#link-to 'episode' next class="ui large right floated primary button"}}
            <i class="ui icon forward"></i>
            Next
            {{/link-to}}
          {{else}}
            {{#link-to 'episode.new' class="ui large right floated red button"}}
              <i class="ui icon circle"></i>
              Continue Here
            {{/link-to}}
          {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="column">

          {{#if firstAlternative}}
            {{#link-to 'episode' firstAlternative class="ui large left floated green button"}}
            Branch A <br/>
            <small>{{firstAlternative.title}}</small>
            {{/link-to}}
          {{/if}}


          {{#if secondAlternative}}
            {{#link-to 'episode' secondAlternative class="ui large right floated green button"}}
            Branch B <br/>
            <small>{{secondAlternative.title}}</small>
            {{/link-to}}
          {{else}}
            {{#if parent}}
              {{#link-to 'episode.new' parent class="ui large right floated red button"}}
                <i class="ui icon fork"></i>
                Create branch
              {{/link-to}}
            {{/if}}
          {{/if}}

      </div>
    </div>
  </div>
</div>
